# Permalinks
permalink: "/:title.html"

# Setup
title:            saif's website
repository:       0xsirsaif/0xsirsaif.github.io
url:              https://0xsirsaif.github.io/
baseurl:          /

encoding: utf-8

exclude:
  - "website.sublime-project"
  - "website.sublime-workspace"
  - "*.log"
  - "*.fdb_latexmk"
  - "*.synctex.gz"
  - "*.aux"
  - "*.nix"
  - ".bundle"
  - ".direnv"
  - "vendor"

defaults:
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: main
  -
    scope:
      path: "notes"
      type: "posts"
    values:
      layout: "post"
      author: "0xsaif"
  -
    scope:
      path: "etc"
      type: "pages"
    values:
      layout: main
  -
    scope:
      path: "slides"
      type: "pages"
    values:
      layout: main
  -
    scope:
      path: "drafts"
      type: "pages"
    values:
      layout: main

# plugins: ["jekyll-paginate"]

markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..4

sass:
    sass_dir: _sass
    style: compressed

# Navigation
nav:
  - name:           "notes"
    href:           "/notes"
    kind:           "dir"
  - name:           "etc"
    href:           "/etc"
    kind:           "dir"
  - name:           "about.md"
    href:           "/"
    kind:           "file"
  - name:           "résumé.pdf"
    href:           "/Mohamed_Saif_Resume.pdf"
    kind:           "file"
